# Root level ignores
.DS_Store
Thumbs.db

# Global Env files
.env
.env.*

# Python caches / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.db
*.sqlite3

# Node / Frontend
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
